@font-face {
    font-family: "inter" ;
    src: url(font/static/Inter-Regular.ttf);
}

/* commun a chaque pages */
body{
    height: 100vh;
    width: 100vh;
    margin: 0;
    padding: 0;
}

ul {
    position: relative;
    list-style-type: none;
    overflow: hidden;
    height: 85px;
    margin: 0;
    padding: 0;
    top: 15px;
    right: 15px;
}

.litop {
    float:right;
    border: 2px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 5px;
    margin-top: 15px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
}

li a:hover {
    outline: 2px solid white;
    border-radius: 50%;
    background-color: #b4d2ff40;
    width: 25px;
    height: 25px;
    box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3
}

.logoTop{
    width: 25px;
    height: 25px;
}

.logomt{
    position:absolute;
    height: 100px;
    top: 7px;
    left: 7px;
}

/* page about-me */
h1{
    color: white;
    border-style: double;
    background-color: #b4d2ff40 ;
    height: 60px;
    width: 160px;
    text-align: center;
    padding-top: 13px;
}

.paragraphe{
    width: 50%;
    height: 50%;
    color: white;
}

.mep{
    margin-top: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: ;
}

p{
   width: 100%;
}

.bouton{
    margin-top: 9%;
    display: flex;
    flex-direction: row-reverse;
}

button{
    color: white;
    background-color: #b4d2ff40;
    margin: 10px;
    Width: 142px ;
    Height: 48px;
    Top: 944px;
    Left: 1046px;
    border-radius: 40px;
    border-color: white;
}

a{
    color: white;
    text-decoration: none;
}

div .backgroundimage1{
    position: absolute;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.backgroundimage1{
    background-image: linear-gradient(rgba(0, 40, 100, 0.5),rgba(0, 40, 100, 0.5)),
    url(images/accueil12.jpg);
}


/* Page projets */

div .backgroundimage2{
    position: absolute;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.backgroundimage2{
    background-image: linear-gradient(rgba(0, 40, 100, 0.5),rgba(0, 40, 100, 0.5)),
    url(images/accueil33.jpeg)
}

.mep2{
    margin-top: 4%;
    height: 650px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.projetMep{
    width: 750px;
    display: block;
    justify-content: center;
}
.projet1{
    outline: 2px solid white;
    width: 745px;
    height: 209px;
    left: 621px;
    top: 254px;
    border-radius: 0px 35px;
}

.projet2{
    outline: 2px solid white;
    margin-top: 50px;
    width: 745px;
    height: 210px;
    left: 621px;
    top: 579px;
    border-radius: 35px 0px;
}

.bouton2{
    margin-top: 35px;
    display: flex;
    flex-direction: row-reverse;
}

button{
    color: white;
    background-color: #b4d2ff40;
    margin: 10px;
    Width: 142px ;
    Height: 48px;
    Top: 944px;
    Left: 1046px;
    border-radius: 40px;
    border-color: white;
}


/* page Competence */

div .backgroundimage3{
    position: absolute;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.backgroundimage3{
    background-image: linear-gradient(rgba(0, 40, 100, 0.5),rgba(0, 40, 100, 0.5)),
    url(images/maxccanyon-1.jpg)
}

.bouton3{
    margin-top: 35px;
    display: flex;
    flex-direction: row-reverse;
}

.container {
    background-color: rgba(0, 40, 100, 0.315);
    width: 80%;
    border-radius: 15px;
    outline: 1px solid white;
}

.skill {
    background-color: rgba(9, 102, 241, 0.719);
    color: white;
    padding: 1%;
    text-align: right;
    font-size: 20px;
    border-radius: 15px;
}

.html {
    width: 70%;
}

.java {
    width: 15%;
}

.css {
    width: 60%;
}

.bootstrap{
    width: 20%;
}

.word{
    width: 25%;
}

.titlepage{
    color: white;
    border-style: double;
    background-color: #b4d2ff40 ;
    height: 60px;
    width: 190px;
    text-align: center;
    padding-top: 13px;
}

.mep3{
    margin-top: 4%;
    height: 650px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: ;
}

.tableauskill{
    width: 50%;
}


/* page contact */

div .backgroundimage4{
    position: absolute;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.backgroundimage4{
    background-image: linear-gradient(rgba(0, 40, 100, 0.5),rgba(0, 40, 100, 0.5)),
    url(images/accueil7.jpg)
}

.mep4{
    margin-top: 2%;
    height: 650px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logocontact{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.logocontact2{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cadre{
    outline: 2px solid white;
    rotate: 45deg;
}

.logopage{
    rotate: -45deg
}

.bouton4{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 3.7%;
}

/* responsive about-me */
@media(max-width: 500px){
    .logomt {
        height: 50px;
        top: 10%;
        left: 41%;
    }
    ul{
        display: flex;
        justify-content: space-between;
        left: 2px;
        top: 2px
    }
    .mep{
        display: block;
        justify-items: center;
    }
    h1, .paragraphe{
        width: 100%;  
    }
}

@media(max-width: 600px){
    p{
        height: 460px ;
        overflow: scroll;
    }
}


/* responsive projet */
@media(max-width: 920px) {
    .logomt {
        height: 50px;
        top: 10%;
        left: 45%;
    }
    ul{
        display: flex;
        justify-content: space-between;
        left: 2px;
        top: 2px
    }
    .mep2{
        display: block;
        justify-items: center;
    }
    h1, .paragraphe{
        width: 100%;
        margin-top: 55px;  
    }

    .projetMep{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projet1{
        width: 350px;
        height: 130px;
    }

    .projet2{
        width: 350px;
        height: 130px;
    }
}
